{{ define "main" }}
<div class="learn container">
    <div class="h1 py-2 font-weight-bold text-center">{{ .Params.firsttopic }}</div>
    <div class="row row-cols-1 row-cols-md-3">
        {{ range .Params.course }}
        <div class="col mb-4">
            <div class="card h-100">
                <img src="{{ .img }}" class="card-img-top" alt="{{ .title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ .title }}</h5>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="{{ .link }}" target="_blank"
                            class="btn btn-primary stretched-link">Location</a>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>

    {{ if .Params.secondtopic }}
    <div class="h1 py-2 font-weight-bold text-center">{{ .Params.secondtopic }}</div>
    {{ end }}
    <div class="row justify-content-md-center">
        <div class="col-md-8 py-4">
            <article>
                {{.Content}}
            </article>
        </div>
    </div>
</div>
</div>
{{ end }}