{{ define "main" }}
<div class="about">
    <div class="h1 py-2 font-weight-bold text-center">{{ .Title}}</div>
    <div class="row justify-content-center pb-2">
        <div class="col-md-5">
            <img class="img-fluid" src="{{ .Params.aboutimg }}" alt="techfest about">
        </div>
        <div class="col-md-6 pb-3">
            <div class="p-3 content">
                {{ .Content }}
            </div>
            <div class="px-4">
                <a href="/contact" type="button" class="btn btn-primary">Contact us</a>
            </div>
        </div>
    </div>
</div>
{{ end }}