<!--these-things-->
<div class="these-things container" id="these-things">
    <div class="row justify-content-center py-3">
        <div class="col-md-12 col-lg-4 my-auto">
            <div class="h2">{{ .Site.Params.learn.heading }}</div>
            <div class="details">
                {{ .Site.Params.learn.des }}
            </div>
            <div class="py-3">
                <a href="{{ .Site.Params.learn.link }}" type="button"
                    class="btn btn-primary">{{ .Site.Params.learn.name }}</a>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 my-auto">
            <img alt="techfest learn homepage's image" src="{{ .Site.Params.learn.img }}" class="img-fluid" />
        </div>
    </div>
</div>

<!--these-things-->
<div class="these-things container">
    <div class="row justify-content-center py-3">
        <div class="col-md-12 col-lg-6 my-auto order-2 order-lg-1">
            <img alt="techfest healthcare's home image" src="{{ .Site.Params.healthcare.img }}" class="img-fluid" />
        </div>
        <div class="col-md-12 col-lg-4 order-1 my-auto">
            <div class="h2">{{ .Site.Params.healthcare.heading }}</div>
            <div class="details">
                {{ .Site.Params.healthcare.des }}
            </div>
            <div class="py-3">
                <a href="{{ .Site.Params.healthcare.link }}" type="button"
                    class="btn btn-primary">{{ .Site.Params.healthcare.name }}</a>
            </div>
        </div>
    </div>
</div>

<!--these-things-->
<div class="these-things container">
    <div class="row justify-content-center py-3">
        <div class="col-md-12 col-lg-4 my-auto">
            <div class="h2">{{ .Site.Params.employment.heading }}</div>
            <div class="details">
                {{ .Site.Params.employment.des }}
            </div>
            <div class="py-3">
                <a href="{{ .Site.Params.employment.link }}" type="button"
                    class="btn btn-primary">{{ .Site.Params.employment.name }}</a>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 my-auto">
            <img alt="techfest employment's home page image" src="{{ .Site.Params.employment.img }}"
                class="img-fluid" />
        </div>
    </div>
</div>