<!-- Navbar -->
<div class="bg-white sticky-top shadow">
    <nav class="navbar container navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="/">
            <img src="{{ .Site.Params.favicon }}" width="150px" height="40px" class="d-inline-block align-top"
                alt="logo">
        </a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                {{ range site.Params.customMenusleft }}
                <li class="nav-item mx-1 text-center">
                    <a class="nav-link" href="{{.Url}}" aria-label="{{ .name }}">{{ .name }}</a>
                </li>
                {{ end }}
            </ul>
            <ul class="navbar-nav ml-auto">
                {{ range site.Params.customMenus }}
                <li class="nav-item mx-1 text-center">
                    <a class="nav-link" href="{{.Url}}" aria-label="{{ .name }}">{{ .name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>
</div>