<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }} | {{ .Title }}</title>
    <link rel="icon" href="{{ .Site.Params.favicon }}" type="image/gif" />

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="assets/css/index.css" media="all" />
</head>

<body>
    {{- partial "navbar.html" . -}}

    <div class="text-center pt-3">
        <img class="img-fluid" src="/assets/images/404.svg" alt="404 page not found">
        <div class="pt-3 pb-4">
            <a href="/" class="btn btn-primary">Back to our site</a>
        </div>
    </div>

    {{- partial "footer.html" . -}}

    <script src="assets/js/jquery-3.5.1.slim.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>